/**
 * Copyright 2011-2012 Alexandre Dutra
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */
 
.c2w-author {
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	padding:5px 0;
	margin-top:10px;
}

.c2w-author-name {
	font-style:italic;
	height:24px;
	line-height:24px;
}

.c2w-author-icons {
	float:right;
	text-align:right;
	height:24px;
}

.c2w-author-icon {
	margin-left:5px;
	display:inline-block;
	height:24px;
	width:24px;
	/*-webkit-border-radius: 2px;*/
	/*-moz-border-radius: 2px;*/
	/*border-radius: 2px;*/
	/*-webkit-box-shadow: 1px 1px 2px #666;*/
	/*-moz-box-shadow: 1px 1px 2px #666;*/
	/*box-shadow: 1px 1px 2px #666;*/
}

.c2w-author-gravatar {
}

/** http://maxvoltar.com/archive/rounded-corners-on-images-css-only */
.c2w-author-gravatar img {
	//opacity:0;
}
