/**
 * Copyright 2011-2012 Alexandre Dutra
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */
 
div.c2w-toc {
	
}

div.c2w-toc>ol, div.c2w-toc>ul {
	margin:0;
	padding:0;
}

div.c2w-toc>ol>li, div.c2w-toc>ul>li {
	list-style:none;
	padding-bottom:10px;
}

.c2w-toc-author {
	font-style:italic;
}

.c2w-toc-label.c2w-toc-level1 {
	font-weight:bold;
	font-size:120%;
}

.c2w-toc-label.c2w-toc-level2 {
	font-weight:bold;
	font-size:110%;
}

.c2w-toc-label.c2w-toc-level3 {
	font-weight:bold;
}

.c2w-toc-label.c2w-toc-level4 {
}

.c2w-toc-label.c2w-toc-level5 {
	font-size:90%;
	font-style:italic;
}

.c2w-toc-label.c2w-toc-level6 {
	font-size:80%;
	font-style:italic;
}
